html {
    scroll-behavior: smooth;
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFF;
    color: #333;
}

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FA812F;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#navbar .logo {
    margin: 10px 15px;
}

#navbar .logo a{
    font-size: 26px;
    font-weight: bold;
    height: 50px;
    text-decoration: none;
    color: white;
}

#nav-bar {
    display: flex;
    list-style: none;
    padding: 0;
}

#nav-bar li {
    margin: 0 15px;
}

#nav-bar a {
    color: white;
    text-decoration: none;
    padding: 8px;
    font-size: 22px;
    transition: font-size 0.35s ease-in-out;
    font-weight: bold;
}

#nav-bar a:hover {
    font-size: 20px;
    background-color: #be550f7d;
    text-decoration: underline;
}


.menu-icon {
    display: none;
    padding-right: 20px;
    font-size: 30px;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: inline-block;
    }

    #navbar #nav-bar {
        position: absolute;
        top: 80%;
        right: -100%;
        background-color: white;
        width: 300px;
        height: 100vh;
        border-left: #33333399 1px solid;
        transition: right 0.3s ease;
        flex-direction: column;
        align-items: flex-start;
    }

    #navbar #nav-bar.active {
        right: 0;
    }

    #nav-bar li {
        display: flex;
        width: 100%;
        margin: 0 0;
        padding: 0 15px;
        border-bottom: #7d7979b3 1px solid;
    }

    #nav-bar a {
        color: #FA812F;
        margin-left: 30px;
        padding: 10px;
        font-size: 18px;
        text-align: left;
    }
}

/* about brew section */
.about-brew {
    min-height: 50vh;
    display: flex;
    background-image: url('img/pouring_beer.jpg');
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: 70% 35%;
    padding: 40px 20px;;
    text-align: center;
    margin-top: 100px;
    position: relative;
}

.about-brew::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30%;
    right: 1px;
    bottom: 0;
    background: linear-gradient(
      0deg,
      rgba(1, 1, 3, 1) 15%,
      rgba(255, 255, 255, 0) 75%
    );
  }

.about-brew > .container {
    margin: 25px 25px 25px 30px;
    padding: 25px 15px 15px 25px;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    text-shadow: #333 1px 1px 1px;
}

.about-brew h2 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}

.about-brew p {
    color: #fff;
    margin: 0 auto;
    width: 90%;
    line-height: 1.6;
}

.about-brew a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.about-brew a:hover {
    color: #be550f;
}

/* our dine section */
.our-menu {
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.our-menu h2 {
    color: #FA812F;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.menu-type {
    color: #333;
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-style: bold;
    display: inline-block;
    padding-bottom: 5px;
    text-decoration: underline;
    text-decoration-color: #FA812F;
}

.items-gird {
    display: inline-block;
    width: 300px;
    height: auto;
    padding: 15px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.items-gird img {
    width: 100%;
    object-fit: cover;
}

.items-gird .item-name {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
}

.items-gird .address {
    font-size: 16px;
    color: #FA812F;
    margin-bottom: 10px;
}

.items-gird:hover {
    transform: scale(1.05); 
    filter: brightness(0.8); 
}

/* reviews section */
.reviews {
    background-color: #FA812F;
    padding: 20px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
}

.reviews h2 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
}

.review-container {
    background-color: #FA812F;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}

.item img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 15px;
}

.name {
    margin-bottom: 2px;
    color: #FA812F;
}

.occupation {
    font-style: italic;
    margin-top: 2px;
}

main#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 600px;
    --items: 5;
    --middle: 3;
    --position: 1;
    pointer-events: none;
}

div.item {
    text-align: center;
    padding: 20px;
    border: 3px solid orange;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    width: 300px;
    height: 250px;
    background-color: white;
    --r: calc(var(--position) - var(--offset));
    --abs: max(calc(var(--r) * -1), var(--r));
    transition: all 0.25s linear;
    transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
    z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
    --offset: 1;
}
div.item:nth-of-type(2) {
    --offset: 2;
}
div.item:nth-of-type(3) {
    --offset: 3;
}
div.item:nth-of-type(4) {
    --offset: 4;
}
div.item:nth-of-type(5) {
    --offset: 5;
}

input:nth-of-type(1) {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

input:nth-of-type(1):checked ~ main#carousel {
    --position: 1;
}

input:nth-of-type(2) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
    --position: 2;
}

input:nth-of-type(3) {
    grid-column: 4 /5;
    grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
    --position: 3;
}

input:nth-of-type(4) {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
    --position: 4;
}

input:nth-of-type(5) {
    grid-column: 6 / 7;
    grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
    --position: 5;
}

/* radio part */
.radio-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

input[type="radio"] {
    appearance: none;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 3px solid #fff;
    background-color: transparent;
    position: relative;
    transition: all 0.3s ease;
}

input[type="radio"]:checked {
    background-color: #fff;
    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7);
}

input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #FAB12F;
    border-radius: 50%;
}
